# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
## environmental variables
.env
## node modules
node_modules

# locally uploaded files multi-part data
public/uploads

# custom debug scripts
zAorCustoms
.txt