<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ahmed's Amaizng Library</title>
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <div class="hero">
        <h1>Apogee Ahmed</h1>
      </div>
      <header class="header"><h3>LGTM!</h3></header>
      <hr>

      <!-- The Main Section will be dynamic-->
      <section class="main">
        Before ...
        <br/><br/><br/>
        <%- include('../partials/header.ejs') %> 
        <%- include('../partials/errorMessage.ejs') %> 
        <%- body %>
        <br/><br/><br/>
        ... After  
      </section>

      <hr>
      <footer class="footer">
        <p>Copyright &copysr; 2022 &COPY; Apogee AOR &copy;</p>
      </footer>
    </div>
  </div>
  
</body>
</html>